# Process the database based on date

Import the dataset "Superstore.xls" into a DataFrame variable `df`

In [1]:
import datetime
import pandas as pd

df = pd.read_excel("Superstore.xls")
df = pd.DataFrame(df)

In [2]:
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [3]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

#### get_week_start_date()

- When `week_start`="Sun", returns a string representing the first day of the week where `date` is located (treat sunday as the first day of a week)
- When `week_start`="Mon", returns a string representing the first day of the week where `date` is located (treat monday as the first day of a week)
- When `week_start` is a different value, raising a runtime error

In [4]:
def get_week_start_date(date, week_start):
    day = date.isoweekday()
    if week_start=="Sun":
        if day==7:
            return(date.strftime("%Y-%m-%d"))
        else:
            date = date-datetime.timedelta(days=day)
            return(date.strftime("%Y-%m-%d"))
    elif week_start=="Mon":
        if day==1:
            return(date.strftime("%Y-%m-%d"))
        else:
            date = date-datetime.timedelta(days=day-1)
            return(date.strftime("%Y-%m-%d"))
    else:
        return("Please enter a correct week_start value!")

In [5]:
# test
print(get_week_start_date(datetime.datetime(2020, 9, 12), "Sun"))
print(get_week_start_date(datetime.datetime(2020, 9, 12), "Mon"))
print(get_week_start_date(datetime.datetime(2020, 9, 12), "Tue"))

2020-09-06
2020-09-07
Please enter a correct week_start value!

#### get_week_start_date_sun()

For any `date`, the operation result of `get_week_start_date_sun(date)` is equivalent to `get_week_start_date(date, "Sun")`

In [6]:
# Defining the function directly
def get_week_start_date_sun(date):
    return get_week_start_date(date, "Sun")

get_week_start_date_sun(datetime.datetime(2020, 9, 12))

'2020-09-06'

In [7]:
# Define the function using anonymous functions
get_week_start_date_sun = lambda date: get_week_start_date(date, "Sun")

get_week_start_date_sun(datetime.datetime(2020, 9, 12))

'2020-09-06'

Apply `get_week_start_date_sun` on the `"Order Date"` column of `df`

In [8]:
new_date = pd.to_datetime(df["Order Date"])
col = new_date.apply(get_week_start_date_sun)

Add `"Order Date Week Start"` to `df`

In [9]:
df["Order Date Week Start"] = col
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Order Date Week Start
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,2016-11-06
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,2016-11-06
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,2016-06-12
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,2015-10-11
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,2015-10-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028,2014-01-19
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332,2017-02-26
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932,2017-02-26
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200,2017-02-26
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480,2017-04-30

Select the `"Order Date Week Start"` and `"Profit"` columns of `df`

In [10]:
df1 = df[["Order Date Week Start","Profit"]]
df1

     Order Date Week Start    Profit
0               2016-11-06   41.9136
1               2016-11-06  219.5820
2               2016-06-12    6.8714
3               2015-10-11 -383.0310
4               2015-10-11    2.5164
...                    ...       ...
9989            2014-01-19    4.1028
9990            2017-02-26   15.6332
9991            2017-02-26   19.3932
9992            2017-02-26   13.3200
9993            2017-04-30   72.9480

[9994 rows x 2 columns]

Aggregate `df1` by `"Order Date Week Start"` to find the total profit for each week (represented by the start date of the week)

Store the aggregated table into variable `df2`

In [11]:
df2 = df1.groupby("Order Date Week Start").agg('sum')
df2

                          Profit
Order Date Week Start
2013-12-29              -60.4389
2014-01-05             1327.6274
2014-01-12              686.8839
2014-01-19              319.7131
2014-01-26              382.7212
...                          ...
2017-11-26             3052.4328
2017-12-03              664.3387
2017-12-10             1171.4419
2017-12-17             2980.3401
2017-12-24             2955.6751

[209 rows x 1 columns]

Sort `df2` in descending order by `"Profit"` column

In [12]:
df2 = df2.sort_values(by='Profit',ascending=False)
df2

                           Profit
Order Date Week Start
2016-10-02             10701.9612
2017-03-19              9185.1460
2015-11-08              7345.7697
2017-11-12              6338.0253
2015-03-15              6231.9596
...                           ...
2015-01-25             -1628.1445
2017-10-15             -1697.4184
2016-11-20             -2465.6543
2014-07-20             -2492.8293
2017-04-16             -3304.6026

[209 rows x 1 columns]

Calculate the proportion of the number of weeks with positive profits to the number of all weeks

In [13]:
cnt = 0
sumcnt = 0
for i in df2['Profit']:
    if i>0:
        cnt += 1
    sumcnt += 1

probility = cnt/sumcnt
print(probility)

0.8851674641148325

Use date time library `time` to complete `get_week_start_date` function

In [14]:
import time

def get_week_start_date(date, week_start):
    time_array = time.strptime(date, "%Y-%m-%d")  # Convert the string to a time tuple
    day = time_array.tm_wday   # Get week information
    if week_start=="Sun":
        if day==6:
            return date
        else:
            # Convert to timestamp format for addition and subtraction
            time_array_new = time.mktime(time_array) - 86400*(day+1)
            # Convert timestamp to date
            time_array_new = time.localtime(time_array_new)
            return time.strftime("%Y-%m-%d", time_array_new)
    elif week_start=="Mon":
        if day==0:
            return date
        else:
            time_array_new = time.mktime(time_array) - 86400*(day)
            time_array_new = time.localtime(time_array_new)
            return time.strftime("%Y-%m-%d", time_array_new)
    else:
        return("Please enter a correct week_start value!")

In [15]:
# test
print(get_week_start_date("2020-9-12", "Sun"))
print(get_week_start_date("2020-9-12", "Mon"))
print(get_week_start_date("2020-9-12", "Tue"))

2020-09-06
2020-09-07
Please enter a correct week_start value!